footer {
    font-size: 14px;
    color: var(--color-text-light);

    .container {
        padding: var(--container-padding);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.25rem;
    }

    @include tablet {
        .container {
            flex-direction: row;
        }
    }
}

@include screen-visibility;


